
@{
    ViewBag.Title = "MonthlyExpReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="col-lg-4">

    <div class="box box-solid bg-green-gradient">
        <div class="box-header">
            <i class="fa fa-inr"></i>
            <h3 class="box-title">Monthly Expenditure Report</h3>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
                                       
        </div><!-- /.box-body -->
        <div class="box-footer text-black">
            <div class="row">
                <div class="col-lg-8">
                    <div id="tblExpReport"></div>
                </div>
            </div>
        </div>                            
    </div>
</section>
<script language="javascript" type="text/javascript">
    function getMTHReport() {            
        $.get("@Url.Action("GetMonthlyExpReport")",
        function (data) {
            if (data != "") {
                $("#tblExpReport").html(data);
            }
        });
    }

    window.onload = function () {
        getMTHReport();
    }

</script>
    