
@{
    ViewBag.Title = "ParentHome";
    Layout = "~/Views/Shared/_Parent.cshtml";
}

<section class="content-header">
    <h1>
        Dashboard

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">My Dashboard</h3>
            <div class="box-body">
                <h2>ParentHome</h2>
                </div>
            </div>
        </div>
    </section>
                

