
@{
    ViewBag.Title = "Pagenotfound";
    Layout = "~/Views/Shared/CustomError.cshtml";
}

<div style=" padding:20px;margin:20px">

    <div class="error-content">
        <center>
            <img src="~/pictures/logo-404.png" class="Notfoundlogo" alt="logo" />
            <h2 class="rs title-404">OOPs!</h2>
            <p>
                Sorry ! the page you are looking for no longer exists or might have been removed. Perhaps you can return back to the site's homepage
                and see if you can find what you are looking for.

            </p>
            <div class="error-bg-arrow"></div>
            <br />
            <a href="/Home/Index" class="btn btn-default">Home</a>
        </center>
    </div>
</div>
