
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomError.cshtml";
}

<div style=" padding:20px;margin:20px">
   
    <div class="error-content">
        <center>
            <img src="~/pictures/logo-error.png" class="Notfoundlogo" alt="logo" />
            <h2 class="rs title-404">Something went Wrong!</h2>
            <p> Please try again or contact <a href="http://www/lifino.com">Administrator</a>.  Perhaps you can return back to the site's homepage 
                      
            </p>
            <div class="error-bg-arrow"></div>
            <br/>
            <a href="/Home/Index" class="btn btn-default">Home</a>
        </center>       
    </div>
</div>
