@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}
<section class="callaction">
    <div class="container">
        <div class="row">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</section>
